body {

  background-color: pink;
}

.logo {

  display: flex;
  justify-content: center;

}

.header {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 15%;
  padding: 5px;
  
  
}

.searchbar {

  margin-top: 10%;
  height: 20px;
  width: 60%;
}

.categories {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin:10%;
}

.c {

  border: 2px solid rgb(168, 134, 134);
  background-color: bisque;
  padding: 5px;
  margin: 30px;
  width: 50%;
  text-align: center;
}

