.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: black; /* change background color to black */
  }
  
  .left-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
  
  .right-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
  }
  
  .navbar a { /* apply styles to all links within navbar */
    color: white; /* change link color to white */
    font-size: 1.6rem; /* increase font size */
    text-decoration: none; /* remove underline */
  }